html {
  background-image: url("https://cdn.pixabay.com/photo/2016/03/09/15/18/stars-1246590_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Almendra", serif;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/09/15/18/stars-1246590_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  color: white;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.fab {
  font-size: 30px;
  margin: 10px;
}
.socialLink {
  font-size: 20px;
  color: black;
}

.carousel-inner {
  width: 100%;
}

.card {
  background: inherit;
  color: white;
}

.btn:focus,
a:focus,
.btn:hover {
  outline: none;
  text-decoration: none;
  box-shadow: none;
}

.btn-link {
  color: white;
}

p {
  font-weight: bold;
  font-size: 18px;
}

footer {
  margin-bottom: 10px;
}

.animate__fadeIn {
  --animate-duration: 2.5s;
}
