html {
  background-image: url("https://cdn.pixabay.com/photo/2016/03/09/15/18/stars-1246590_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  overflow-x: scroll;
  min-height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
}

body {
  font-family: "Almendra", serif;
  background-image: url("https://cdn.pixabay.com/photo/2016/03/09/15/18/stars-1246590_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  overflow-x: scroll;
  min-height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.fab {
  font-size: 30px;
  margin: 10px;
  padding-top: 10px;
}

.carousel-inner {
  width: 100%;
}


.card {
  background: inherit;
}

.btn-link {
  text-decoration: none;
  color: inherit;
}

p {
  font-weight: bold;
  font-size: 18px;
}